.toggle {
}
.pricing{
    color: #6e728e ;
}
.toggle input[type="checkbox"] {
  display: none;
}
.toggle label {
  cursor: pointer;
}
.toggle label .toggle-track {
  display: block;
  height: 2rem;
  width: 3rem;
  background: #7d82e4;
  border-radius: 20px;
  position: relative;
  margin-top: .7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
}
.row {
  display: flex;
  
  justify-content: center;
 
}
.row h3{
    color: #c2c1ce;
    font-size: 16px;
    // border:  1px solid red;
    margin-top: 1rem;
}

.toggle .toggle-track:before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  padding: 2px;
  top: .3rem;
  right: .3rem;
  transition: right 0.2s ease-in;
}

.toggle input[type="checkbox"]:checked + label .toggle-track:before {
  background: #fff;
  right: 1.5rem;
}

.cards{
  display: flex;
  // background: yellow;
  justify-content: center;
  height: 65vh;
  align-items: center;
}